html {
  background-color: snow;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5em;
  background-color: #283655;
}

#navbar a {
  display: inline;
  text-align: center;
  margin-right: 15px;
  padding: 10px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.75em;
  color: #d0e1f9;
  text-decoration: none;
}

#navbar a:hover {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #283655;
}

.social-links {
  height: 50px;
  width: auto;
  padding: 5px;
}

#page-not-found {
  width: 100%;
  height: 50%;
  margin: auto;
  margin-top: 20%;
  text-align: center;
}

#page-not-found h1 {
  width: 100%;
  height: 50%;
  margin: auto;
  margin-top: 20%;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3em;
}

#page-not-found button {
  margin-left: auto;
  margin-top: 1%;
  font-size: 1em;
  color: snow;
  padding: 1em;
  border-color: transparent;
  background-color: #283655;
}

#page-not-found button:hover {
  color: white;
}
