html {
  background-color: snow;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5em;
  background-color: #283655;
}

#navbar a {
  display: inline;
  text-align: center;
  margin-right: 15px;
  padding: 10px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.75em;
  color: #d0e1f9;
  text-decoration: none;
}

#navbar a:hover {
  color: white;
}
